<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon", href="./img/weather.png">
        <link rel="stylesheet", href="./css/style.css">
    </head>
    <body>
        <div class="main-content">
             {{> header}}
             <p>This site was created by jacob Newton. It uses data from mapbox.com and weather.com  </p>
            <img class="portrait"  src="./img/WIN_20201217_15_09_11_Pro.jpg" height="200" width="200">
        </div>
       
        {{> footer}}
    </body>

</html> 